@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="titulo">SEBGBA</h1>
</div>

<div class="texto-introducao">
    <h1>Sistema de Equipes da BGBA Software Ltda.</h1>
</div>

<div>
    <h1>º  º  º</h1>
</div>

<div class="texto-introducao">
    <h4>
        "Being Great at Being Average"
    </h4>
</div>

<div>
    <h1>º  º  º</h1>
</div>

<div class="paragrafo1">
    <p>
        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.Paisis, filhis, espiritis santis.Quem manda na minha terra sou euzis!Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.      
    </p>
</div>